<html>
    <head>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

		<style>
			 #bids span { font-size: 32 }
			 .col-status { width: 50px; height: 50px; padding:0px; font-size: 30px; text-align: center; }
			 .status-div { height: 30px; width: 30px; line-height: 30px; font-weight: bold; margin: auto; }
			 .col-name { vertical-align: middle; font-size: 20px }
			 .status-text  { display: inline-block; width: 100%; text-align: center; } 
			 .number { height: 50px; width: 50px; font-size: 20px; text-align: center; font-weight: bold }
			 .dev-menu { float: right; }
			 .dots { cursor: pointer }
			 .mypanel-heading { padding: 5px; }
		</style>


    </head>
    <body style='padding: 10px;'> 
		<button class='btn btn-primary' style='display:inline-block; padding: 10px' onclick='start_bid()'><i class='fa fa-lg fa-refresh'></i></button>
		
		<div id='button_area' style='display:inline-block'>
		</div>

		<table class='table table-bordered' style='margin-top: 10px; width: 250px; table-layout: fixed'>
			<tbody id='devlist' data-bind='foreach: bidders'>
				<tr style='height: 30px'>
					<!-- ko if: $root.waiting() && bid == 0 -->
						<td class='col-status bg-info'>
							<div class='status-div'>
							 	<i class='fa fa-question'></i> 
							 </div>
						 </td>	
					<!-- /ko -->
					<!-- ko if: $root.waiting() && bid != 0 -->
						<td class='col-status bg-success'>
							<div class='status-div'>
							 	<i class='fa fa-check'></i> 
							 </div>
						 </td>	
					<!-- /ko -->
					<!-- ko if: !$root.waiting() -->
						<td class='col-status bg-success'>
							<div class='status-div' data-bind='text: bid'>
							</div>
						 </td>	
					<!-- /ko -->
					<td class='col-name'>
						<span data-bind='text: name'></span>
						<!-- ko if: get_user_id() == name -->
						<a style='float: right' class='dots' onclick='spectate()'>
							<i class='fa fa-ellipsis-v'></i>
						</a>
						<!-- /ko -->
					</td>
					
				</tr>
			</body>
		</table>

			<table class='table table-bordered' style='margin-top: 10px; width: 250px'>
				<tbody id='spectators' data-bind='foreach: spectators'>
					<tr>
						<td class='col-status bg-info'>
							 <i class='fa fa-eye'></i> 
						 </td>	
						<td class='col-name'>
							<span data-bind='text: name'></span>
							<!-- ko if: get_user_id() == name -->
							<a style='float: right' class='dots' onclick='unspectate()'>
								<i class='fa fa-ellipsis-v'></i>
							</a>
							<!-- /ko -->
						</td>
					</tr>
				</body>
			</table>

        <script>
			function ViewModel() {
				var self = this;

				self.devs = ko.observable([]);

				self.bidders = ko.computed(function() {
					return self.devs().filter(function(o) { return o.status == 1 });
				});

				self.spectators = ko.computed(function() {
					return self.devs().filter(function(o) { return o.status == 2 });
				});

				self.waiting = ko.computed(function() {
					return self.bidders().filter(function(o) { return o.bid == 0 }).length > 0;
				});
			}
			model = new ViewModel();
			ko.applyBindings(model);
			

			var app = new WebSocket("ws://vps.sonyar.info:8000/poker");

			function getCookie(name) {
			  var value = "; " + document.cookie;
			  var parts = value.split("; " + name + "=");
			  if (parts.length == 2) return parts.pop().split(";").shift();
			}

			function getParam(name) {
				name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
				var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
				results = regex.exec(location.search);
				return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
			}

			function get_user_id() {
				return getParam("user_id"); //getCookie("user_id");
			}

			function send(data) {
				//testing only
				
				data['user_id'] = get_user_id();
				data['room_id'] = '{{ room }}';
				app.send(JSON.stringify(data));
			}

			function register() {
				send({ action: 'register' });
			}

			function bid(e) {
				send({ action: 'bid', number: $(e.target).text() });
			}

			function clear() {
				send({ action: 'clear' });
			}

			function spectate() {
				send({ action: 'spectate' });
				$("#button_area button").prop("disabled", true);
			}

			function unspectate() {
				send({ action: 'unspectate' });
				$("#button_area button").prop("disabled", false);
			}

			function draw_bid_buttons() {
				var bids = [1, 2, 3, 5, 8, 13];
				var button_area = $("#button_area");
				button_area.html('');
				var button_group = $("<div class='btn-group'></div>");
				button_area.append(button_group);
			
				bids.forEach(function(num) {
					button_group.append("<button class='btn btn-success'>" + num + "</button>");
				});
			}

			function start_bid() {
				clear();
			}

			$(document).ready(function() {
				$("#button_area").on('click', 'button', bid);
				draw_bid_buttons();
			});

			app.onopen = function() {
				register();
			}

			app.onmessage = function(msg) {
				var devs = JSON.parse(msg.data);

				if (model.waiting() === false) {
					devs = devs.sort(function(a,b) { return b[1] - a[1]; });
				}

				model.devs(devs);
				return;
			}


        </script>
    </body>
</html>


