<html>
    <head>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

		<style>
			 #bids span { font-size: 32 }
			 .col-status { width: 50px; font-size: 30px }
			 .col-name { vertical-align: middle, font-size: 30px }
			 .status-text  { display: inline-block; width: 100%; text-align: center; } 
			 .number { font-size: 20px; font-weight: bold }

		</style>


    </head>
    <body style='padding: 10px;'> 
		<div id='bids'>
			<button class='btn btn-success' >1</button>
			<button class='btn btn-success' >2</button>
			<button class='btn btn-success' >3</button>
			<button class='btn btn-success' >5</button>
			<button class='btn btn-success' >8</button>
			<button class='btn btn-success' >13</button>

			
			<!--
			<span class='badge'>1</span>
			<span class='badge'>2</span>
			<span class='badge'>3</span>
			<span class='badge'>5</span>
			<span class='badge'>8</span>
			<span class='badge'>13</span>
			-->
		</div>

		<table class='table table-bordered'>
			<tbody id='devlist'>
			</body>
		</table>

		<input style='margin-top:10px' id='name' class='form-control'/>
		<button style='margin-top:10px' class='btn btn-primary' onclick='register()'>Register</button>

        <script>
			var app = new WebSocket("ws://vps.sonyar.info:8000/poker");

			app.onmessage = function(msg) {
				var devs = JSON.parse(msg.data);
				$("#devlist").html('');

				var waiting = false;
				for (var x in devs) {
					if (devs[x][1] == 0) {
						waiting = true;
					}
				}

				if (waiting === false) {
					devs = devs.sort(function(a,b) { return b[1] - a[1]; });
				}

				for (var x in devs) {
					var name = devs[x][0];
					var num = devs[x][1];

					if (waiting && num != 0) {
						$("#devlist").append("<tr><td class='col-status bg-success'><i class='fa fa-check status-text'></i></td><td class='col-name'>" + name + "</td></tr>");
					}
					else if (waiting && num == 0) {
						$("#devlist").append("<tr><td class='col-status bg-info'><i class='fa fa-question status-text'></i></td><td class='col-name'>" + name + "</td></tr>");
					}
					else {
						$("#devlist").append("<tr><td class='col-status bg-success'><span class='number status-text'>" + num + "</span></td><td class='col-name'>" + name + "</td></tr>");
					}

				}
			}

			function send(data) {
				app.send(JSON.stringify(data));
			}

			function register() {
				send({ action: 'register', name: $("#name").val() });
			}

			function bid(e) {
				send({ action: 'bid', name: $("#name").val(), number: $(e.target).text() });
			}

			$(document).ready(function() {
				$("#bids span").click(bid);
				$("#bids button").click(bid);
			});

        </script>
    </body>
</html>


